#close_rect:hover {
    -fx-fill: red;
}

#minimize_rect:hover {
    -fx-fill: lightgray;
}

#windowBar {
    -fx-background-color: #e2e2e2;
}

.hyperlink {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-padding:  4 0 4 0
}

/* Text-Field */
#recordList .text-field {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

#recordList .cell {
    -fx-background-color: white;
    -fx-font-size: 14px;
}

#recordList .cell:selected {
    -fx-text-fill: black;
}