#close_rect:hover {
    -fx-fill: red;
}

#minimize_rect:hover {
    -fx-fill: lightgray;
}

#windowBar {
    -fx-background-color: #e2e2e2;
}

.hyperlink {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-padding:  4 0 4 0
}

#recordList {
    -fx-background-color: #f4f4f4;
    -fx-border-color: transparent;
    -fx-background-insets: 2 2 2 2;
}

#recordList .text-field {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-margin: 0;
}

#recordList .cell {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

#recordList:focused {
    -fx-background-color: transparent;
}

#recordList .cell:focused {
    -fx-text-fill: black;
}

#recordList .cell .text-field:hover {
    -fx-cursor: text;
}