.button {
    -fx-background-color: #393E41;
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #1E2019;
}

.label {
    -fx-text-fill: white;
}

.separator .line {
    -fx-border-color: #393E41;
}

/*---- TEXT AREA ----*/
.text-area {
    -fx-text-fill: white;
    -fx-background-color: #1E2019;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar {
    -fx-background-color: #1E2019;
}

.text-area .increment-button:hover , .text-area .decrement-button:hover{
    -fx-background-color: #393E41;
}

.text-area .scroll-bar .thumb {
    -fx-background-color: #393E41;
}

.text-area .content {
    -fx-background-color: #1E2019;
}


/*---- TEXT FIELD ----*/
.text-field {
    -fx-text-fill: #393E41;
    -fx-text-fill: white;
}

/*---- COMBO BOX ----*/
.combo-box {
    -fx-background-color: #393E41;
}

.combo-box .cell {
    -fx-background-color: #393E41;
    -fx-text-fill: white;
}

#input {
    -fx-background-color: #393E41;
    -fx-border-color: black;
    -fx-text-fill: white;
}

/*---- CHECKBOXES ----*/
.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-border-radius: 3px;
    -fx-background-color: #393E41;
    -fx-border-color: black;
}

.check-box .content {
    -fx-text-fill: white;
}

.check-box:selected .mark {
    -fx-background-color: #393E41;
}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}

/*---- MENU BUTTON ----*/
.menu-button {
    -fx-background-color: #393E41;
    -fx-border-color: black;
}

.menu-button:focused {
    -fx-border-color: black;
    -fx-background-color: #393E41;
}

.menu-item .menu-button {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #393E41;
}

.menu-item:focused .label {
    -fx-background-color: #494c4f;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #393E41;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

/*---- HYPER LINK ----*/
.hyperlink:visited {
    -fx-text-fill: #0c95af;
}

.hyperlink {
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-padding:  4 0 4 0
}


/*---- WINDOW TOOLS ----*/
#close_rect:hover {
    -fx-fill: red;
}

#minimize_rect:hover {
    -fx-fill: #494c4f;
}

#windowBar {
    -fx-background-color: #393E41;
}